

<div>
  <mat-toolbar color="primary" class="mat-elevation-z6" _nghost-c1="">
    <nav _ngcontent-c1="" class="docs-navbar-header">
      <span>Hacker news clone</span>
      <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
        href="/components">
        <span class="mat-button-wrapper">new</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>

      <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
        href="/cdk">
        <span class="mat-button-wrapper">threads</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>

      <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
        href="/cdk">
        <span class="mat-button-wrapper">comments</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>

      <a _ngcontent-c1="" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false"
        href="/cdk">
        <span class="mat-button-wrapper">jobs</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </nav>

      <!---->









  </mat-toolbar>
  <mat-menu x-position="after" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>


<!-- <mat-card>
  <mat-card-title>
    Angular Material Menu Demo
  </mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      Open Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-card-content>
</mat-card> -->



<!-- <div class="demo-toolbar">

  <p>
    <mat-toolbar>
      <mat-icon class="demo-toolbar-icon">menu</mat-icon>
      <span>Default Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <mat-icon>code</mat-icon>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="primary">
      <mat-icon class="demo-toolbar-icon">menu</mat-icon>
      <span>Primary Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <mat-icon>code</mat-icon>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="accent">
      <mat-icon class="demo-toolbar-icon">menu</mat-icon>
      <span>Accent Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <mat-icon>code</mat-icon>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="accent">
      <mat-toolbar-row>First Row</mat-toolbar-row>
      <mat-toolbar-row>Second Row</mat-toolbar-row>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>First Row</span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Second Row</span>

        <span class="demo-fill-remaining"></span>

        <mat-icon class="demo-toolbar-icon">verified_user</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Third Row</span>

        <span class="demo-fill-remaining"></span>

        <mat-icon class="demo-toolbar-icon">favorite</mat-icon>
        <mat-icon class="demo-toolbar-icon">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</div> -->


